#bar_chart {
    left:10em;
    top:5em;
    position: relative;
}

.yaxis path,
.yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
}

#Trump {
    border-color: red;
    background-color: red;
}