#bar_chart {
    left:10em;
    top:5em;
    position: relative;
}

a, svg {
    font-family: 'Bangers', cursive;

}

a {
    font-size: 18pt;
}

.nav {
    position: relative;
    bottom: 20%;

}

.yaxis path,
.yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
}

#tweet {
    font-family: 'Bangers', cursive;
    font-size: 18pt;
}

#Trump {
    border-color: red;
    background-color: red;
}

#Bush {
    border-color: purple;
    background-color: purple;
}

#Walker {
    border-color: black;
    background-color: black;
}

#Huckabee {
    color: black;
    border-color: yellow;
    background-color: yellow;
}
#Carson {
    border-color: blue;
    background-color: blue;
}
#Cruz {
    border-color: grey;
    background-color: grey;
}
#Rubio {
    border-color: orange;
    background-color: orange;
}

#Paul {
    border-color: brown;
    background-color: brown;
}
#Christie {
    border-color: pink;
    background-color: pink;
}
#Kasich {
    border-color: green;
    background-color: green;
}


